* {
    box-sizing: border-box;
}

/* .hero {
    width: 1440px;
    margin: auto;
    padding: 0 100px
} */

.hero__wrapper {
    display: flex;
    gap: 109px;
    padding: 0 0 70px;
}

.hero__inner {
    display: flex;
    gap: 35px;
    flex-direction: column;
    width: 531px;
}

.hero__slogan {
    font-weight: 500;
    font-size: 60px;
    line-height: 77px;
    color: #000000;
    width: 531px;
    min-height: 231px;
    height: auto;
}

.hero__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    width: 4398x;
    min-height: 112px;
}


/* Company logo */

.hero__logos {
    margin: 0;
    padding: 0;
}

.hero__logos-company {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 95px;
    margin: 0;
    padding: 0;
}

