.team-cards__title {
    display: flex;
    gap: 40px;
    padding: 0 0 80px;
}

.team-cards__name {
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: #000000;
    padding: 0 7px;
    background-color: #B9FF66;
}

.team-cards__intro {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    width: 473px;
    color: #000000;
}

/* Карточка */

.team-cards__list {
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 0 40px;
}

.team-cards__block {
    padding: 40px;
    width: calc(33.3% - 27px);
    min-height: 331px;
    height: auto;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
    border-radius: 45px;
}

.team-cards__container {
    display: flex;
    border-bottom: 1px solid #000000;
    padding: 0 0 28px;
    margin: 0 0 28px;
}

.team-cards__employee {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.team-cards__name-job {
    display: flex;
    flex-direction: column;
}

.team-cards__employee-name {
    font-weight: 500px;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.team-cards__job {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    max-width: 194px;
}

.team-cards__logo {
    background-size: cover;
    margin-left: auto;
    display:inline-block;
}

.team-cards__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    min-height: 69px;
    height: auto;
}
